<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script th:src="@{/js/dashboard.js}" defer></script>
    <script th:inline="javascript">
    let lotsGagner = /*[[${countRemis}]]*/ [];
    let lotsRecuperer = /*[[${totalGains}]]*/ [];
    let ticketsData = /*[[${total}]]*/ [];
    let genderDataM = /*[[${countGainsForMen}]]*/ [];
    let genderDataF = /*[[${countGainsForWomen}]]*/ [];
    let gainLabels = /*[[${gainLabels}]]*/ [];
    let countGainsByType = /*[[${countGainsByType}]]*/ [];
    const ageLabels = /*[[${ageLabels}]]*/ []; 
    const ageCounts = /*[[${ageCounts}]]*/ []; 


    </script>

</head>
<body>
    <div class="main-wrapper">
        <button class="burger-menu" id="burgerMenu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <img th:src="@{/image/logo.png}" alt="Logo">
            </div>
            <ul class="menu">
                <li><a href="/admin/dashboard" class="active">Dashboard</a></li>
                <li><a href="/admin/listeUser">Liste des utilisateurs </a></li>
                <li><a href="/admin/jeu-concours">Jeu-concours</a></li>
                <li><a href="/admin/parrametre" >Parrametre</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <main class="main-content">
            <section class="dashboard-section">
                <h2>Statistiques du Jeu-Concours</h2>

                <div class="dashboard-cards">
                    <!-- Carte 1 : Nombre total de gains -->
                    <div class="dashboard-card">
                        <h3>Tickets Fournis</h3>
                        <p th:text="${total}">0</p>
                    </div>
                
                    <!-- Carte 2 : Tickets utilisés -->
                    <div class="dashboard-card">
                        <h3>Tickets à récuperer</h3>
                        <p th:text="${countRemis} ">0%</p>
                    </div>
                
                    <!-- Carte 3 : Lots gagnés -->
                    <div class="dashboard-card">
                        <h3>Lots Gagnés</h3>
                        <p th:text="${totalGains} ">0%</p>
                    </div>
                </div>
                

                <!-- Graphiques -->
                <div class="charts-grid">
                    <div class="chart-container">
                        <canvas id="ticketsChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="lotsGagnesChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="sexeChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="typeChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="ageChart"></canvas>
                    </div>
                </div>
            </section>


    <script>
        
        const burgerMenu = document.getElementById('burgerMenu');
        const sidebar = document.getElementById('sidebar');

        burgerMenu.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            document.querySelector('.main-content').classList.toggle('active');
        });
    </script>
</body>
</html>
