<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Tea Brand</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js" defer></script>
</head>
<body>
    <div class="background-container">
        <div class="login-container">
            <div class="login-box">
                <img src="image/logo.jpeg" alt="Tip Top" class="logo">
                <h2>Bienvenue</h2>
                <form action="/login" method="post">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Entrer votre username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Entrer votre mot de pass" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <div class="extra-options">
                    <a href="/forgot-password" class="link">Mot de passe oublié ?</a>
                    <div class="social-login">
                        <p>Ou inscrivez-vous avec :</p>
                        <div class="social-buttons">
                            <a href="/login/facebook" class="social-button">
                                <img src="image/facebook.png" alt="Facebook" class="social-logo">
                            </a>
                            <a href="/login/google" class="social-button">
                                <img src="image/gmail.png" alt="Gmail" class="social-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
