<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Tea Brand</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"> <!-- Utilisation de th:href -->
    <script th:src="@{/js/login.js}" defer></script> <!-- Utilisation de th:src -->
</head>
<body>
    <div class="background-container">
        <div class="login-container">
            <div class="login-box">
                <img th:src="@{/image/logo.jpeg}" alt="Tip Top" class="logo"> <!-- Utilisation de th:src -->
                <h2>Bienvenue</h2>
                <div th:if="${errorMessage}" style="color: red;">
                    <p th:text="${errorMessage}"></p>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Entrer votre username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Entrer votre mot de pass" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <div class="extra-options">
                    <a th:href="@{/forgot-password}" class="link">Mot de passe oublié ?</a> <!-- Utilisation de th:href -->
                    <div class="social-login">
                        <p>Ou inscrivez-vous avec :</p>
                        <div class="social-buttons">
                            <a th:href="@{/login/facebook}" class="social-button"> <!-- Utilisation de th:href -->
                                <img th:src="@{/image/facebook.png}" alt="Facebook" class="social-logo"> <!-- Utilisation de th:src -->
                            </a>
                            <a th:href="@{/oauth2/authorization/google}" class="social-button"> <!-- Utilisation de th:href -->
                                <img th:src="@{/image/google.png}" alt="Gmail" class="social-logo"> <!-- Utilisation de th:src -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
