<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié - Tea Brand</title>
    <link rel="stylesheet" th:href="@{/css/mp-oublier.css}">
    <script th:src="@{/js/mp-oublier.js}" defer></script>
</head>
<body>
    <div class="background-container">
        <div class="forgot-password-container">
            <div class="forgot-password-box">
                <h2>Réinitialiser le mot de passe</h2>
                <p>Entrez votre email pour recevoir votre nouveau mot de passe :</p>
                <form th:action="@{/forgot-password}" method="post">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Entrer votre email" required>
                    </div>
                    <button type="submit" onclick="showModal()">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal pour la confirmation -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <p>Email envoyé avec succès !</p>
            <a th:href="@{/login}" class="modal-button">Revenir à la page de connexion</a>
        </div>
    </div>
</body>
</html>
